.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.blurredImage {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  object-fit: cover;
  filter: blur(40px) brightness(0.4);
}